// =================================
// Colors
// =================================
$base-color: #777;
$primary-color: #58e1c1;
$default-color: #51ddfc;
$info-color: #927bc1;
$warning-color: #fd7856;
$error-color: #e4757a;
$success-color: #63cc82;

// =====================================
// Breakpoints
// ======================================
$breakpoint: 768px;
